<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="page-head">

    <title>Starter App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Open Sans font from Google CDN -->

    <!-- LanderApp's stylesheets -->
    <link href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/themes/css/landerapp.min.css"
          th:href="@{/css/landerapp.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/themes/css/widgets.min.css"
          th:href="@{/css/widgets.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/themes/css/pages.min.css"
          th:href="@{/css/pages.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/themes/css/rtl.min.css"
          th:href="@{/css/rtl.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/themes/css/themes.min.css"
          th:href="@{/css/themes.min.css}" rel="stylesheet" type="text/css"/>

    <link href="../../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

</head>
<body class="theme-default main-menu-animated" th:fragment="page-body">

<script>var init = [];</script>
<!-- Demo script -->
<script src="assets/demo/demo.js"></script> <!-- / Demo script -->

<div id="main-wrapper">




    <div id="content-wrapper">
        <!-- 5. $CONTENT ===================================================================================

                Content
        -->

        <!-- Content here -->
        Content here.

    </div> <!-- / #content-wrapper -->
    <div id="main-menu-bg"></div>
</div> <!-- / #main-wrapper -->


</body>
</html>